/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-variant-ligatures: no-common-ligatures;
            font-variant-ligatures: no-common-ligatures;
    -webkit-font-feature-settings: "liga"0, "clig"0;
    font-feature-settings: "liga"0, "clig"0;
}

/* keep the width mobile friendly no side scrolling  */
body {
    width: 100%;
    overflow-x: hidden;
    color: grey;
    font-size: 16px;
    line-height: 1.5;
    font-family: Calibri, sans-serif;
    max-width: 1300px;
    min-width: 320px;
    margin: 0 auto;
    border: solid 1px grey;
}

@media only screen and (min-width:1600px) {
    body {
        font-size: 27px;
    }
}

a {
    text-decoration: none;

}

input {
    position: absolute;
    z-index: 10000;
    display: none;
}

/* =======  Hero Header  =======  */


header {
    position: relative;
    overflow-y: hidden;
}

.heading {
    position: absolute;
    z-index: 100;
    color: white;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%)
}

.heading-main {

    letter-spacing: 0.2em;
    font-size: 6vw;
    text-align: center;
}

.heading-main:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    cursor: default;
}

.heading-sub {
    font-size: 4vw;
    text-align: center;
}

.heading-sub:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    cursor: default;
}

.slideshow {
    position: absolute;
    width: 500%;
    overflow: hidden;
    -webkit-animation: slider 30s infinite;
    animation: slider 30s infinite;
    -webkit-transition: 20s;
    transition: 20s;
    z-index: 1;
}

.slideshow-img {
    width: 20%;
    float: left;
    background-size: contain;
    -webkit-clip-path: polygon(1% 0, 47% 100%, 100% 7%, 100% 100%, 0 45%, 100% 0, 23% 0, 0 100%, 100% 46%, 100% 38%);
    clip-path: polygon(1% 0, 47% 100%, 100% 7%, 100% 100%, 0 45%, 100% 0, 23% 0, 0 100%, 100% 46%, 100% 38%);
    opacity: 0.9;
}

.placeholder-img {
    width: 100%;
    z-index: 1;
    height: 100%;
}

#nav-btn {
    border-radius: 50px;
    background-color: white;
    z-index: 500;
    width: 5vw;
    padding: 1vw;
    position: absolute;
    left: 93%;
    top: 15px;
}

@media only screen and (min-width:1600px) {
    .heading-main {
        font-size: 100px;
    }

    .heading-sub {
        font-size: 60px;
    }

    #nav-btn {
        max-width: 85px;
        padding: 16px;
    }
}

/* ======  Header Animation  ====== */

@-webkit-keyframes slider {
    from {
        left: 0;
    }

    50% {
        left: -400%
    }

    to {
        left: 0%
    }

}

@keyframes slider {
    from {
        left: 0;
    }

    50% {
        left: -400%
    }

    to {
        left: 0%
    }

}

/* ===== Navigation  ===== */

nav {
    max-width: 1600px;
    position: relative;
}

#nav-overlay {

    z-index: 400;
    background-color: rgb(26, 132, 184);
    width: 0;
    height: 0;
    position: fixed;
    max-width: 1300px !important;
    min-width: 320px;
    opacity: 1;
    background: -webkit-gradient(linear, right bottom, left top, from(rgba(0, 146, 219, 0.938)), to(rgba(177, 20, 177, 0.938)));
    background: linear-gradient(to top left, rgba(0, 146, 219, 0.938), rgba(177, 20, 177, 0.938));
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;

}

#nav-overlay ul {
    list-style-type: none;
    position: absolute;
    text-align: center;
    top: -50%;
    left: -50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: ease-in-out 0.7s;
    transition: ease-in-out 0.7s;
}

#nav-overlay a {
    margin: 5px auto;
    color: white;
    letter-spacing: 6px;
    padding: 8px;
    font-size: 2.4vw;
}

#nav-overlay li:hover {
    border-bottom: solid white 1px;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
}


input#nav-menu:checked~nav div {
    height: 100vh;
    width: 100vw;
}

input#nav-menu:checked~nav div ul {
    top: 50%;
    left: 50%;

}

@media only screen and (max-width:700px) {
    #nav-overlay li {
        font-size: 25px;
    }
}



/* ===== Introduction  ===== */

#introduction {
    background-image: url("https://images.pexels.com/photos/1552252/pexels-photo-1552252.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.introduction-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 2vw;
    padding: 2vw;
    width: 100%;
}

@media only screen and (max-width:500px) {
    .introduction-grid {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }
}

.introduction-text {
    color: black;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    opacity: 0.8;
    letter-spacing: 1px;
    font-size: 17px;
}

.col-2 {
    grid-column: span 2;
    text-align: center;
}

.small-heading {
    margin-bottom: 1em;
}

.introduction-text .link-btn {

    padding: 1vw;
    margin: 1vw 0px;
    background-color: pink;
    color: white;
    cursor: pointer;
    font-size: 1.5vw;
}

/* ====  Intro Carousel  ==== */

.intro-carousel {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

#carousel-placeholder {
    z-index: 0;
    display: block;
    width: 100%;
    height: 200px;
    opacity: 0;


}

.intro-img-group {
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
    position: absolute;
    overflow: hidden;
    border-radius: 30px;
    top: 0;
    left: 0;
}

.intro-img-group .intro-img {
    position: absolute;
    height: 100%;
    width: 100%;
    /* display: inline-block; */
    opacity: 0;
    -webkit-animation: slideshow-fade 15s infinite;
    animation: slideshow-fade 15s infinite;
    z-index: 350;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
}

.intro-img-group .intro-img:nth-child(2) {
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}

.intro-img-group .intro-img:nth-child(3) {
    -webkit-animation-delay: 10s;
    animation-delay: 10s;
}

/* Animation changing opacity */
@-webkit-keyframes slideshow-fade {
    from {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    15% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

@keyframes slideshow-fade {
    from {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    15% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}



/* =====  Interactive Program Filter ===== */

.program-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.program {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 10px 10px;
    vertical-align: top;
    text-align: center;
    /* background: rgb(26, 132, 184); */
    color: white;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-transition: all 0.8s ease;
            transition: all 0.8s ease;

}

.program-types {
    text-align: center;
    margin: 30px 0px;
}

.program-types label {
    display: inline-block;
    margin: 5px 0px;
    padding: 15px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
    cursor: pointer;
}

.program-icon {
    background-color: lightpink;
    border-radius: 50px;
    width: 50px;
}

@media (max-width: 675px) {
    .program-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 430px) {
    .program-list {
        grid-template-columns: 1fr;
    }
}


/* ======    program-card flip    ===== */


.program:hover {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);

}

.front-card {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;

}

.front-card {
    z-index:10000;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    backface-visibility: hidden;
}

.front-card *{
background-color: lightpink;
opacity: 0.9;
color: white;
width: 100%;
font-size: 17px;
}


.back-card {
    top: 0;
    left: 0;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    position: absolute;
    width: 100%;
    background-color: lightpink;
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
            border-radius: 30px;
}

.back-card-text{
    z-index:10000;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    width: 100%;
    backface-visibility: hidden;
    font-size: 22px;
}

/* ==== cards-backgrounds ==== */
/* create your classes for each card background here */
.cardbg{
    background-size:cover !important;
    height:100%;
    border-radius: 30px;
}

.cardbg-1{
    background: url("https://images.pexels.com/photos/317155/pexels-photo-317155.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}
.cardbg-2{
    background: url("https://images.pexels.com/photos/864990/pexels-photo-864990.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}
.cardbg-3{
    background: url("https://images.pexels.com/photos/866021/pexels-photo-866021.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}
.cardbg-4{
    background: url("https://images.pexels.com/photos/248547/pexels-photo-248547.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}
.cardbg-5{
    background: url("https://images.pexels.com/photos/17840/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}
.cardbg-6{
    background: url("https://images.pexels.com/photos/1571938/pexels-photo-1571938.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}
.cardbg-7{
    background: url("https://images.pexels.com/photos/1554824/pexels-photo-1554824.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}
.cardbg-8{
    background: url("https://images.pexels.com/photos/1552250/pexels-photo-1552250.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}


/* ==== Fatloss Buttons ==== */

input#fatloss:checked~.program-list .card-fitness-musclegain-posture {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

input#fatloss:checked~.program-list .card-musclegain-posture {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

input#fatloss:checked~.program-list .card-fitness-musclegain {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

input#fatloss:checked~.program-list .card-fitness-posture {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

input#fatloss:checked~.program-list .card-posture {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;

}

input#fatloss:checked~.program-list .card-musclegain {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;

}

input#fatloss:checked~.program-list .card-fitness {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

/* ==== Fitness Buttons ==== */

input#fitness:checked~.program-list .card-fatloss-musclegain-posture {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

input#fitness:checked~.program-list .card-musclegain-posture {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

input#fitness:checked~.program-list .card-fatloss-posture {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

input#fitness:checked~.program-list .card-fatloss-musclegain {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

input#fitness:checked~.program-list .card-posture {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

input#fitness:checked~.program-list .card-musclegain {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

input#fitness:checked~.program-list .card-fatloss {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

/* ======= Muscle Gain Buttons ======== */

input#musclegain:checked~.program-list .card-fatloss-fitness-posture {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

input#musclegain:checked~.program-list .card-fatloss-posture {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

input#musclegain:checked~.program-list .card-fatloss-fitness {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

input#musclegain:checked~.program-list .card-fitness-posture {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

input#musclegain:checked~.program-list .card-posture {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

input#musclegain:checked~.program-list .card-fitness {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

input#musclegain:checked~.program-list .card-fatloss {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}


/* ======= Posture Buttons ======== */

input#posture:checked~.program-list .card-fatloss-fitness-musclegain {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

input#posture:checked~.program-list .card-fatloss-musclegain {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

input#posture:checked~.program-list .card-fatloss-fitness {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

input#posture:checked~.program-list .card-fitness-musclegain {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

input#posture:checked~.program-list .card-musclegain {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

input#posture:checked~.program-list .card-fitness {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}

input#posture:checked~.program-list .card-fatloss {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    min-width: 0;
    border: 0px;
    -webkit-transition: all ease-in-out 1s;
    transition: all ease-in-out 1s;
}


/* ===========    Footer    ============== */

#footer {
    padding: 11vh 0 4vh;
    background-color: rgb(26, 132, 184);
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(26, 132, 184)), to(#9198e5));
    background: linear-gradient(rgb(26, 132, 184), #9198e5);
    color: white;
    text-align: center;
    -webkit-clip-path: polygon(0 14%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 14%, 100% 0, 100% 100%, 0% 100%);

}

#footer .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 15px 0px;
}

#footer .footer-nav a {
    padding: 10px 20px;
    margin: 10px 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    border: white solid 1px;
    -webkit-box-shadow: 1px 1px;
            box-shadow: 1px 1px;
    border-radius: 3px;


}

#footer .footer-nav a:hover {
    position: relative;
    top: -1.75px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
    color: purple;
    /* text-decoration: underline; */
}

#footer #social-icon-group {
    padding: 10px;
}

#footer .social-logo {
    margin: 0 15px;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background: lightblue;
    padding: 8px;
    opacity: 0.9;
}

#footer .social-logo:hover {
    background: rgb(86, 86, 185);
}

#footer p {
    font-weight: 100;
    color: lightgrey;
}

#footer .email {
    color: white;
    text-decoration: underline;

}

#footer .email:hover {
    color: lightblue;

}

#sub-footer {
    background-color: #9198e5;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: white;
}