
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    background: red;
    justify-items: center;
}

.grid-item{
    border: solid 2px black;
}

@media (max-width:1000px){
    .grid-container{
        grid-template-columns: repeat(2, 1fr);

    }

    .gridtestcontainer{
        grid-template-areas: 
        "a b"
        "c d";
    }
        

}


.gridtestcontainer{
    display: grid;
    grid-template-areas: 
    "a b c d";
    grid-auto-rows: auto;
    justify-items: center;
}

.item1{
    grid-area: a;
}
.item2{
    grid-area: b;
}
.item3{
    grid-area: c;
}
.item4{
    grid-area: d;
}

